body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}


.main-container{
    display: flex;
    position: relative;
    width: 70%;
    height: 70%;
    border-style: dotted;
}
.heart-container {
    position: absolute;
    width: 100px; 
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moveAbout 10s;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
  }
.heart{
    position:absolute;
    width: 80%;
    animation: heartbeat .5s infinite alternate;
}

@keyframes heartbeat{
    from{
        width:80%;
    }
    to{
        width:100%;
    }
}

@keyframes moveAbout{
    0% { top: 0; left: 0; transform: translate(-50%, -50%); }
  15% { top: 0; left: 100%; transform: translate(-50%, -50%); }
  30% { top: 100%; left: 100%; transform: translate(-50%, -50%); }
  45% { top: 100%; left: 0; transform: translate(-50%, -50%); }
  60% { top: 0; left: 0; transform: translate(-50%, -50%); }
  80% { top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 1; }
  100% { top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; }
}


